ABCBookStoreService/ABCBookStoreServiceClient/Connected Services/ABCBookStoreServiceReference/ABCBookStoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ABCBookStoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ABCBookStoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBNNumber" type="xs:float" />
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishingDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="RetrieveBooks">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookSet" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveBooks" nillable="true" type="tns:RetrieveBooks" />
</xs:schema>